---
layout: default
---

<div class="home">

  {% for p in site.posts %}
    {% if p.category != "advent-calendar" %}
      {% assign post = p %}
      {% break %}
    {% endif %}
  {% endfor %}

  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url | append: post.url }}">{{ post.title }}</a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string  }}</span>
    {{ post.content | markdownify }}
    <div class="share-container">
      {% include tweet_button.html %}
      {% include reddit_button.html %}
    </div>
  </div>

  <p class="rss-subscribe">
    Click <a href="{{ post.url }}#disqus_thread">here</a> to leave a comment
  </p>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
