---
layout: default
---

<div class="home">

  {% assign post = site.posts[0] %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url | append: page.url }}">{{ page.title }}</a>
    </h1>
    <span class="post-date">{{ post.date | date_to_string }}</span>
    <div class="share-container">
      {% include tweet_button.html %}
      {% include reddit_button.html %}
    </div>
    {{ post.content }}
    <div class="share-container">
      {% include tweet_button.html %}
      {% include reddit_button.html %}
    </div>
  </div>

  <p class="rss-subscribe">
    Click <a href="{{ post.url }}#disqus_thread">here</a> to leave a comment
  </p>

  <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
