<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ site.title }} 🎄</h1>
      <p class="lead">
      A weekly publication with news and trending projects in the open source iOS ecosystem. Curated by <a href="http://twitter.com">mokagio</a> from <a href="http://mokacoding.com">mokacoding.com</a>
      </p>
    </div>

    <ul class="sidebar-nav">

      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/advent-calendar.html">🎅 Advent Calendar 🎅</a>
      </li>

      <li class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <li class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}">
              <a href="{{ node.url | prepend: site.baseurl | prepend: site.url }}">{{ node.title }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}

      <li class="sidebar-nav-item"><a href="{{ site.baseurl }}#mc_embed_signup">Subscribe</a></li>
      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub</a></li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
